.TodoApp {
  text-align: center;
}

.Container {
  position: absolute;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}

.Todo-list {
  display: table-cell;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Todo-list li {
  margin: 0;
  padding: 0;
  display: block;
}

.Todo-list li.completed {
  text-decoration: line-through;;
}
